.navbar-inverse{
    background-color: #0a64eb !important;
}

nav .header-btn {
    color: white !important;
}

nav .header-btn:hover {
    color: #e1e1e1;
    text-decoration: none;
}

nav img {
    height: 1.7vw;
    display: inline !important;
}

nav .main-option {
    font-size: 130%;
}