.passed {
    background-color: #bafdba;
}

.failed {
    background-color: #d68c8c;
}

.test-group {
    padding: 4px;
    margin: 3px;
    border: solid black 0.5px;
    font-weight: bold;
}

.test-group ul {
    list-style-type: none;
}

.test-group li {
    padding: 4px;
    margin: 4px;
    border: solid black 0.5px;
    font-weight: normal;
}